/*

 * HFM.NET - Bit-tech Style Sheet

 * Created By Chris Bishop (Votick)

 */



body{
background: #000000 url(https://raw.githubusercontent.com/chrisbish/hfm_bit-tech/main/body-20110615.jpg) no-repeat 50% 0;
color: white;
font-family: "Myriad Pro", sans-serif;
font-size: 11px;
}
.bit-tech_logo {
margin-bottom: -16px;
}
.menu_tab {
position: absolute; right: 0; bottom: 0;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
margin-bottom: -25px;
}
.stats_tab {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: #363c47;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
margin-top: -24px;
font-weight: bold;
}
.Overview {
padding: 5px 5px 5px 5px;
margin: 2px 2px 2px 2px;
border-collapse: collapse;
font-size: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: #363c47;
margin-bottom: 16px;
letter-spacing:1px;
}
.content {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: #363c47;
padding: 16px 25px 16px 16px;
width: 70%;
margin: auto;
}
.container-fluid {
width: 70%;
margin: auto;	
}
.table {
    color: #FFFFFF;
}
tr.table-heading {
color: #FFFFFF;
}
.table td {
border: none;
color: #FFFFFF;
}
.table tr {
border-bottom: 4px solid #363c47;
}
.table thead th {
border: none;
}
.row {
border: 1px #FFFFFF;
}
a {
color: #FFFFFF;
}
a:hover {
color: #FFFFFF;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
  margin-bottom: -5px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 14px;
}

li a {
  display: block;
  color: white;
  text-align: center;
padding-top: 8px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 8px;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #363c47;
}

li a:hover {
text-decoration: none;
 background: #363c47 url(https://fold.as50391.net/HFM/client-background.png);
}